body {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Contenedor del formulario */
.form-container {
    max-width: 100%;
    background-color: #ffffff; /* Blanco para contraste */
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 105, 97, 0.3); /* Sombra en tono rojo claro */
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #970303;
}

/* Título del formulario */
.form-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombras para darle profundidad */
    background-image: linear-gradient(90deg, #ffeb3b, #ff7043);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    
}

/* Grupos de inputs */
.form-group {
    display:flex ;
    flex-direction: column;
    align-items: center;
}

/* Estilos de los inputs */
.input-file-altas, 
input[type="text"] {
    width: 100%;
    margin-bottom: 2.3rem;
    padding: 0.75rem;
    border: 1px solid #f5a623; /* Amarillo suave */
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 24px;
    background: linear-gradient(90deg,#ff7043, #ffeb3b );
}

input::placeholder {
    color: #ffffff; /* Rojo anaranjado claro */
}

/* Estilo para el botón de enviar */
.btn-submit-altas {
    text-align: center;
    height: 36px;
    font-size: 24px;
    color: #000000;
    border-radius: 10px;
    border: 2px solid #701717;
}

.btn-prov{
    color: #ff7043;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #970303;
    margin-bottom: 15px;
}
#logo{
    width: 130px;
    padding-bottom: 20px;
    padding-right: 15px;
}