.form{
    padding: 4rem;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 105, 97, 0.3); /* Sombra en tono rojo claro */
    width: 80%;
    box-sizing: border-box;
    border: 2px solid hsl(0, 66%, 26%);;
    margin-left: 11%;
    background: linear-gradient(45deg, #ffeb3b, #ff5722, #42a5f5);
    animation: gradientAnimation 10s ease infinite;
    background-size: 400% 400%;
    
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
.modificarTitulo{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombras para darle profundidad */
    background-image: linear-gradient(90deg, #ffe600, #ff3c00);
    font-size: 58px;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 100px;
    position: relative;
    bottom: 43px;
}
.inputFileModificar{
    position: relative;
    bottom: 40px;
    size: 25px;
}
.campo-modificar{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #ffe600, #ff3c00);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 43px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombras para darle profundidad */
    position:relative;
    bottom: 65px;
}
.cambioInput, 
input[type="text"] {
    width: 100%;
    margin-bottom: 2.2rem;
    border: 1px solid #f5a623; /* Amarillo suave */
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 24px;
    background: linear-gradient(90deg,#ff7043, #ffeb3b );
}
.btn-submit-modificar{
    position: relative;
    bottom: 16px;

}
.btn-modificar{
    transition: transform 0.2s ease; /* Efecto de suavizado al agrandar */
    box-shadow: 0 4px 10px rgba(148, 3, 3, 0.511);
    color: #000000;
    font-size: 31px;
    border-radius: 10px;
    border: 2px solid #970303;
}
.btn-modificar:hover{
    transform: scale(1.1);
}
