body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8e1; /* Amarillo claro */
}

.Rcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe0b2; /* Naranja claro */
}

.Rbox {
    background-color: #fff3e0; /* Amarillo claro */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 88, 34, 0.2); /* Sombra con tono rojizo */
    width: 70%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cerrar {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff7043; /* Rojo anaranjado */
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cerrar:hover {
    background-color: #ff5722; /* Rojo más intenso */
    color: #ffffff;
    cursor: pointer;
}