body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.banner {
    height: -20%;
    min-height: -60%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.container{
    text-align: center;
}

.titulo {
    font-family: 'Bangers', cursive; /* Fuente llamativa, ideal para una temática de Brawl Stars */
    font-size: 3.9rem; /* Tamaño más grande para resaltar el título */
    color: #ffd700; /* Color dorado que resalta */
    text-shadow: 3px 3px 0px #000, 5px 5px 0px #ff0000; /* Sombra múltiple estilo 'cartoon' */
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: typing 2s steps(19) 1s 1 normal both, blink 1s steps(1) infinite;
    margin-bottom: 218px;
    position: relative;
    top: 43px;
  }

  