body {
    background-color: #fff9e6; /* Amarillo muy claro */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.banner {
    height: 20%;
    min-height: -20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem; /* Elimina los márgenes para ajustar mejor */
  }
  
  .container {
    text-align: center; /* Centra el contenido dentro de la sección */


  }
  
  .titulo {
    font-family: 'Bangers', cursive; /* Fuente llamativa, ideal para una temática de Brawl Stars */
    font-size: 3.5rem; /* Tamaño más grande para resaltar el título */
    color: #ffd700; /* Color dorado que resalta */
    text-shadow: 3px 3px 0px #000, 5px 5px 0px #ff0000; /* Sombra múltiple estilo 'cartoon' */

    
  }
  
  