body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.banner {
    height: -20%;
    min-height: -60%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.container{
    text-align: center;
}

.titulo {
    font-family: 'Bangers', cursive; /* Fuente llamativa, ideal para una temática de Brawl Stars */
    font-size: 5rem; /* Tamaño más grande para resaltar el título */
    color: #ffd700; /* Color dorado que resalta */
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: move linear 2000ms infinite;  
    margin-bottom: 218px;
    position: relative;
    top: 22px;
  }
  @keyframes move {
    0% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }  
  }
  
 

    

  